<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.l4gunner4l.javalearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.settingsscreen.SettingsActivity"
            android:parentActivityName=".ui.mainscreen.MainActivity">
        </activity>

        <activity android:name=".ui.testscreen.TestActivity" />

        <activity
            android:name=".ui.lessonscreen.LessonActivity"
            android:parentActivityName=".ui.mainscreen.MainActivity" />

        <activity
            android:name=".ui.signscreens.SignActivity"
            android:theme="@style/AppTheme.NoActionBar.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.signscreens.SignUpActivity"
            android:parentActivityName=".ui.signscreens.SignActivity"
            android:windowSoftInputMode="stateVisible" /> <!-- Открытие клавы сразу при открытии -->

        <activity
            android:name=".ui.signscreens.SignInActivity"
            android:parentActivityName=".ui.signscreens.SignActivity"
            android:windowSoftInputMode="stateVisible" /> <!-- Открытие клавы сразу при открытии -->

        <activity
            android:name=".ui.mainscreen.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>